<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Dave logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter</p>
			<p>Get awesome news from Dave in your inbox every two or three months or whenever I feel like it.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Radical Dave</h3>
				<ul class="mb3">
					<li><a href="https://www.kickstarter.com/projects/bikks/1508800945?ref=9tbtya&token=9fb88f15" class="link">Contribute</a></li>
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/values" class="link">Manifesto</a></li>
					<li><a href="/post" class="link">Articles</a></li>
					
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">More&mdash;I'm also a Life Coach!</h3>
				<ul class="mb3">
					<li><a href="/contact" class="link">Schedule a consultation.</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
