<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">

		<li><a href="https://www.kickstarter.com/projects/bikks/1508800945?ref=9tbtya&token=9fb88f15" class="pa3 no-underline db">Contribute to the Cause!</a></li>

		<!--<li><a href="/what" class="pa3 no-underline db">What are people saying</a></li>
		<!-- Or link to Kickstarter : https://www.kickstarter.com/projects/bikks/1508800945/comments-->

		<li><a href="/values" class="pa3 no-underline db"> Manifesto</a></li>
	 

		<li><a href="/post" class="pa3 no-underline db">Articles</a></li>

		
	</ul>

</nav>
